  <div class="card row">
    <div class="card-header col-12">
      <h2>{{title}}</h2>
    </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{{body}}}</p>
      <footer class= "blockquote-footer">Created by {{user.name}} on {{format_date createdAt}}</footer>
    </blockquote>
  </div>
</div>
    {{#if Comments.length}}
  <div class="col-md-12 project-list">
  <div class="card row">
    <div class= "card-header">
      <h4>Comments:</h4>
    </div>
  </div>

    {{#each Comments as |comment|}}
    <div class="card row">
  <div class="card-body col-12">
    <blockquote class="blockquote mb-0">
      <p>{{comment.content}}</p>
      <footer class='blockquote-footer'>Created by {{user.name}} on {{format_date comment.created_at}}</footer>
    </blockquote>
  </div>
  </div>
    {{/each}}
  </div>
  {{/if}}
  <p>
    <form id= 'comment-form' style= "display:block">
    <div class="form-group">
      <label for="comment-content">New Comment</label>
      <textarea class="form-control" id="commentBody" rows="2"></textarea>
    </div>
    <button type="submit" id="comment-submit" class="btn btn-primary" data-id="{{{id}}}">Submit</button>
    </form>
    <button id="comment" class="btn btn-primary" style= "display:none">Add a Comment</button>
  </p>
</div>

<script src= "/js/new_comment.js"></script>